$primary-background: #ffffff;
$primary-border: 1px solid #b8b9be;


.container {
    width: 100%;
    padding: 200px 0;
    display: flex;
    justify-content: center;
}

.main-card {
    margin: 0 auto;
    background-color: $primary-background;
    padding: 64px;
    width: 500px;
    border-radius: 12px;
    border: $primary-border;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    form {
        display: flex;
        min-width:100%;
        flex-direction: column;

        .full-width {
            min-width: 100%
        }

        > div {
            margin-top: 12px;
        }
    }

    .logo {
        width: fit-content;
        margin: 0 auto;
        padding-bottom: 64px;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        span {
        margin-left: 12px;
        }
    }
}
.actions {
    .buttonLogin {
            display: flex;
            justify-content: flex-end;
    
            > button {
                width: 100%;
                
            }
    }

    .separator {
        margin: 32px 0;
        display: flex;
        align-items: center;
        text-align: center;
        color: #b8b9be;
      }
      
      .separator::before,
      .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #b8b9be;
      }
      
      .separator:not(:empty)::before {
        margin-right: 16px;
      }
      
      .separator:not(:empty)::after {
        margin-left: 16px;
      }

    .google {
        margin-top: 32px;
        border: 0;
        border-radius: 8px;
        padding: 12px 46px;
        width: 100%;

        font-weight: 500;
        background-color: #EA4335;
        color: #FEFEFE;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            filter: brightness(0.9)
        }
        transition: filter 0.2s;
        > img {
            margin-right: 8px;
        }
    }

    .login {
        margin-top: 64px;
    }
}


@media screen and (max-width:767px) {

    .container {
        padding: 100px 0;
        max-height: 100%;
    }

    .main-card { 
        padding-left: 32px;
        max-width: 250;
    }
}